.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

*.db
*.sqlite
*.sqlite3
instance/

.vscode/
.idea/
*.db
db_test.py
*.egg-info/
to_dentro.egg-info/